*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(97, 4, 4);
    color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.main{
    width: 100%;
    max-width: 1000px;
    display: flex;
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0);

}
.logo{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

}
.card{
    width: 60%;
    background: white;
    padding: 40px;
}
.card h2{
    color: rgb(124, 10, 10);
}
.form-group{
    margin-bottom: 18px;

}
input{
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}
input:focus{
    outline: none;
    border-color: rgb(241, 14, 192);
}
.btn-primary{
    background: #680303;
    color:white;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition:0.3s ease;
}
.btn-register{
    background:white;
    color: rgb(110, 4, 13);
    padding: 12px;
    width: 100%;
	cursor: pointer;
	border-radius: 8px;
	font-size: 22px;
	transition: 0.3s ease;
	outline: none;
	border: 0px;
	margin-top: 8px;
}
.btn-forgot{
    background:white;
    color: rgb(110, 4, 13);
    padding: 12px;
    width: 100%;
	cursor: pointer;
	border-radius: 8px;
	font-size: 22px;
	transition: 0.3s ease;
	outline: none;
	border: 0px;
	margin-top: 8px;
}
@media(max-width:768px){
    .main{
        flex-direction:column;
    }
    .logo{
        width: 100%;
        padding: 30px;
    }
    .card{
        width: 100%;
        padding: 25px;
    }
}
